{% extends 'tasks/base.html' %}
{% block content %}
{% load tags %}
{% load static %}

<div class="container">
    <h1>Task Detail, project id: {{project_id}}</h1>
    <p>Task name: {{ task.name }}</p>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Task Name</th>
            <th>Unit</th>
            <th></th>
            <th></th>
            <th>Price</th>
            <th>Currency</th>
            <th>Project</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ task.id }}</td>
            <td width="100px">{{ task.code }}</td>
            <td width="400px"><input class="form-control" type="text" id="input-task_name" size="40" value="{{ task.name }}" onblur="updateTaskName({{ task.id }}, 'name', this.value)"></td>
            <td width="100px">{{ task.unit }}</td>
            <td></td>
            <td></td>
            
            <td width="100px">{{ task.price }}</td>
            <td id="task-currency" width="100px" value="{{ task.currency }}">{{ task.currency }}</td>
            <td>{{ task.project }}</td>
            <td></td>
          </tr>
          
        </tbody>
        <br>
        <tbody>
          <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Component Name</th>
            <th>Unit</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
            <th>Currency</th>
            <th>Project</th>
            <th></th>
          </tr>
          {% for component, denomination, unit, price_comp in zipped_data %}
          <tr>
            <td width="150px">{{ component.id }}</td>
            <td width="350px">{{ component.code }}</td>
            <td width="100px">{{ denomination }}</td>
            <td width="100px">{{ unit }}</td>
            <td width="100px">{{ component.quantity }}</td>
            <td width="100px">{{ price_comp }}</td>
            <td width="100px" >{% multiply price_comp component.quantity %}</td>
            <td width="100px">{{ task.currency }}</td>
            <td width="100px">{{ task.project }}</td>
            <td>
            <form action="{% url 'tasks_comp_delete' project_id=project_id pk=task.id comp_id=component.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
          </tr>
          
          {% endfor %}
          <tr>
            <th></th>
            <th></th>
            <th>Price Grand Total:</th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{ grand_total }}</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tbody>
      </table>
       
</div>
<div class="container">
<h2>Task Components</h2>
      <form method="post" action="{% url 'tasks_add_component' project_id=project_id pk=task.id %}">
        {% csrf_token %}
        <input type="hidden" name="task" value="{{ task.id }}" />
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Code - Denomination - Unit - Price - Currency - Tag </th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody id="task-components">
            <tr>
              <td>
                <select id="component-select" class="form-control" name="code">
                  <option value=" ">-- Choose a Component --</option>
                  {% for price in prices %}
                    <option value="{{ price.code }}">{{price.id}}-{{ price.code }} - {{ price.denomination }} - {{ price.unit }} - {{price.price}} - {{ price.currency }} - {{price.tag}}</option>
                    <p>Price code: {{ price.id }} </p>
                  {% endfor %}
                  
                </select>
        
                {% comment %} <input type="hidden" name="code" value="{{ prices.0.code }}"> {% endcomment %}
              </td>
              <td>
                <input type="number" id="quantity-input" value="1.000" step="0.001" class="form-control" onblur="updateTotalPrice()" name="quantity">
              </td>
            </tr>
          </tbody>
        </table>

        <button type="submit" class="btn btn-primary" id="add-component">Add Component</button>
        <br><br>
        
        </form>
</div>



<script src="{% static 'js/task_update.js' %}"></script>

{% endblock %}