{% extends 'tasks/base.html' %}
{% block content %}

<div class="container">
      <br>
      <h4>Assign a budget to a WorkPackage</h4>
    <div class="row">
      <div class="col-md-12">
        <h5>WorkPackages: {{ project_id }} - {{ project_description }} </h5>
      </div>
    </div>
    <br>
    <form action="{% url 'budget_assign' %}" method="post">
      {% csrf_token %}
      {% comment %} {{ form }} {% endcomment %}
      <label for="work_package_id" class="control-label">Select Work Package:</label>
      <select id="work_package_id" name="work_package_id" class="form-control">
        <option value="">-- Select one Work Package of the list -- </option>
        {% for wp in wps %}
          <option value="{{ wp.id }}">{{wp.id}} -- {{ wp.name }} - {{ wp.description }}</option>
        {% empty %}
          <option disabled>No work packages available</option>
        {% endfor %}
      </select>
      <br>
      <input class="btn btn-primary btn-block" type="submit" value="Submit">
    </form>
</div>

<br>
<br>
<br>
<br>

{% endblock %}


