{% extends 'tasks/base.html' %}
{% block content %}

<div class="container">
    <h1>Delete WorkPackage</h1>
    <p>Are you sure you want to delete this measurement "{{ measurement.id }}", Line description: {{ measurement.description }}
    <p>Work id: "{{work.id}}" -- Work quantity: "{{ work.quantity }}"</p>
    <p>WorkPackage: "{{workpackage.id}}" -- {{ workpackage.description }}</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Delete</button>
      <a href="{% url 'budget_edit' workpackage.id work.id %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>

  {% endblock %}