{% extends 'tasks/base.html' %}
{% block content %}

    <form method="post">
        {% csrf_token %}
        <div class="container">
        {% for project in projects %}
            <div class="mb-3">
                <p class="form-label">
                    <input type="radio" name="project_id" value="{{ project.id }}">
                    <a href="{% url 'project_detail' project.id %}">{{ project.name }}</a>
                </p>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Select Project</button>
        </div>
    </form>

{% endblock %}