{% extends 'tasks/base.html' %}
{% block content %}
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<h1>Create Price</h1>
  <form method="post" id="formulario" class="price-form form-horizontal" action="{% url 'price_create' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="code" class="form-label">Code</label>
      <input type="text" class="form-control" id="code" name="code">
    </div>
    <div class="mb-3">
      <label for="denomination" class="form-label">Denomination</label>
      <input type="text" class="form-control" id="denomination" name="denomination">
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="number" class="form-control" id="price" name="price">
    </div>
    <div class="mb-3">
      <label for="currency" class="form-label">Currency</label>
      <select class="form-control" id="currency" name="currency">
        <option value="">Select a currency</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="SAR">SAR</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="tag" class="form-label">Tag</label>
      <select class="form-control" id="tag" name="tag">
        <option value="">Select a tag</option>
        <option value="task">Task</option>
        <option value="manpower">Manpower</option>
        <option value="material">Material</option>
        <option value="machinery">Machinery</option>
        <option value="canon">Canon</option>
        <option value="service">Service</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="reference" class="form-label">Reference</label>
      <select class="form-control" id="tag" name="tag">
        <option value="">Select a tag</option>
        <option value="excavation">excavation</option>
        <option value="concrete">concrete</option>
        <option value="formwork">formwork</option>
        <option value="rebar">rebar</option>
        <option value="piles">piles</option>
        <option value="other">other</option>
      </select>
      {% comment %} <input type="text" class="form-control" id="reference" name="reference"> {% endcomment %}
    </div>
  <button class="btn btn-success" type="submit">Create</button>
    
  </form>
  
  <script>
    const formInputs = document.querySelectorAll('.price-form input');
    formInputs.forEach(input => {
      input.addEventListener('focus', () => {
        input.style.backgroundColor = '#fef9e7';
      });
      input.addEventListener('blur', () => {
        input.style.backgroundColor = 'white';
      });
    });

    $(document).ready(function(){
      $.validator.addMethod("decimalTwoPlaces", function(value, element) {
        return /^\d+(\.\d{2})?$/.test(value);
      }, "Please enter a number with two decimal positions (e.g. 10.99)");
      
      $("#formulario").validate({
        rules: {
          code:{
            required: true,
            rangelength: [1, 16]
        },
        price:{
          required: true,
          number: true,
          decimalTwoPlaces: true
        }
      },
        messages:{
          "code":{
            required: "This field is required",
            rangelength: "The code must be between 1 and 16 characters",
          },
          "price":{
            required: "This field is required",
            number: "Please enter a valid number",
            pattern: "Please enter a number with two decimal positions (e.g. 10.99)"
            }
          }
      });
    });

  </script>
{% endblock %}